.page-container{
    height: 100%;
    width: 100%;
    background-color: #202329;
    display: flex;
    padding: 2rem 7%;
    /* flex-direction: column; */
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.character-card{
    background-color: rgb(72 72 72 / 53%); 
    display: flex; width: 49%;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 8px;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all .2s ease;
}
.character-card:hover{
    transform: scale(1.01);

 
}

.image-wrapper{

    height: 100%;
}

.image-wrapper img{
    height: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.details-wrapper{
   
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.title-wrapper{
    /* color:  rgb(246, 246, 246) */
    margin-bottom: 10px;
}




.title-wrapper div span{
    /* color:  rgb(246, 246, 246) */
    margin-right: 6px;
    color:  rgb(246, 246, 246);
    font-size: 14px;
}

/* .title-wrapper div span:first-child{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 3.5px;

} */

.dead{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 3.5px;

}

.alive{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: rgb(6, 231, 78);
    border-radius: 3.5px;

}

.unknown{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: rgb(159, 237, 255);
    border-radius: 3.5px;

}


.title-wrapper h3{
    color:  rgb(246, 246, 246);
    font-size: 30px;
}

.text-wrapper{
    
}

.text-wrapper div:first-child{
    color: rgb(157, 157, 157);
    font-size: 13px;
    margin-bottom: 2px;
    
}

.text-wrapper div:nth-child(2){
    color: rgb(237, 237, 237);
    
}